header{
 background-image: url('../images/header.jpg');
/* background: rgb(153, 160, 168); */
/* background-image: -webkit-linear-gradient(270deg,rgba(19, 127, 187, 0.18) 0%,rgb(251, 251, 251) 62.69%, rgba(92, 149, 186, 0.37) 100%); */
background-size: 100%;
}
nav{
	/* background-image: -webkit-linear-gradient(270deg,rgba(19, 127, 187, 0.18) 0%,rgb(64, 171, 224) 62.69%, rgba(92, 149, 186, 0.37) 100%); */
	background: rgb(60, 147, 218);
	margin-top: 0px;
}

.menu_link:hover{
	z-index: 999;
	transform: scale(1.1);
	color: rgba(61,61,61,1.00);


}

#logo{
	width: 300px;
}
.contactos{
	text-align: right;
	color: white;
	margin-top: 0px;

}
#client {
	background-color: rgba(60,147,218,0.78);
	margin-left: 70%;
	width: auto;
	color: rgba(255,255,255,1.00);
}
.space {
	min-height: 250px;
}


.content-languages{
 width: 100%;
text-align:center;
}
.img-language{
	width: 50px;
	height: 25px;
}
.img-language:hover{
	z-index: 999;
	transform: scale(1.1);
}
.slogan {
	background-color: rgba(255,255,255,0.61);
	color: rgba(60,147,218,1.00);
}


.end-line{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1D1D1D;
	font-style: italic;
	font-size: 10pt;
}
.menu_link {

}

footer {
	background-color: rgba(42,42,42,1.00);
	color: rgba(177,177,177,1.00);
	font-size: 14px;
}
h3 {
	color: rgba(60,147,218,1.00);
}
.pago {
	width: 100px;
	z-index: 999;
}
.pago:hover {
	z-index: 999;
	transform: scale(1.1);
}

/*otros :)*/
/*nosotros*/
#nfont{
	width: 100%;
	height: 450px;
}
#nosotros-font{
	width: 100%;
	background-image: url(../images/somos.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#tSomos{
	margin: 0px;
	background-color: #3399FF;
	color: white;
	padding: 12px 0 12px 20px;
}
#textSomos{
	text-align: justify;
	padding: 30px 45px 45px 45px;
	background-color: rgba(255,255,255,1);
	margin: 0;
	line-height: 2em;
}

.titulo{
	color: #3399FF;
	text-align: center;
	font-size: 30px;
	padding: 15% 0 0 0;
}
.text{
	height: 100%;
	text-align: justify;
	padding: 0 45px 0px 45px;
	opacity: 0.7;
	background-color: black;
	/*background-color: rgba(0,0,0,0.8);*/
	line-height: 2em;
	color: white;

}
#cont{
	width: 100%;
	background-color: white;
}
.margin{
	margin: 0px;
	padding: 0px;
}
.centrar{
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#tValores{
	width: 100%;
	text-align: center;
	background-color: #3399FF;
	color: white;
	padding: 10px 0 10px 0;
}
#mision-font{
	height: 400px;
	background-image: url("../images/mision.jpg");
	background-size: 100% ;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;

}
#vision-font{
	height: 400px;
	background-image: url("../images/vision.jpg");
	background-size: 100% ;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 10px;
}
.text:hover{
	background-color: transparent;
	opacity: 1;
	background-color: rgba(0,0,0,0.9);
	animation: titulo 2s ;
}
@keyframes titulo{
	to{
		background-color: rgba(0,0,0,0.9);
	}
	from{
		background-color: rgba(0,0,0,0.5);
	}
}
#valores-tar{
	width: 100%;
	height: 500px;

}
#imgValores{
	float: left;
	width: 40%;
	padding: 2% 1% 5% 5%;
}

#txtValores{
	float: right;
	width: 37%;
	padding: 0 10% 5% 1%;
	text-align: justify;
}


/*Contactanos*/
#superiorC{
	width: 100%;
	background-color: white;
	box-shadow: inset 0 0 5px #999;

}
#inferiorC{
	width: 100%;
	height: 1000px;
	background-color: white;
	box-shadow: inset 0 0 5px #999;
}
#izqui{
	width: 30%;
	height: 500px;
	background-color: white;
	box-shadow: inset 0 0 5px #999;
	float: left;
}
#dere{
	width: 70%;
	height: 500px;
	background-color: white;
	box-shadow: inset 0 0 5px #999;
	float: right;
}
#map{
	width: 100%;
	height: 100%;
}
.TextT{
width:100%;
height:75px;
float:left;
color: #3399FF;
font-size: 35px;
font-family: arial;
display: flex;
justify-content: center;
align-items: center;
}
.TextTC{
	width:100%;
	height:75px;
	float:left;
	color: #3399FF;
	font-size: 35px;
	font-family: arial;
	text-align: center;
	padding:10% 0 5% 0;
}
.s{
	width: 70%;
	color: gray;
	font-size: 25px;
	font-family: arial;
	text-align: left;
	margin: auto;
	padding-bottom: 5%;
}
.cajas{
	width:100%;
	height: 40px;
	border-radius: 8px;
	border-style: none;
	margin:10px;
	text-align: center;
	background-color: #EEEEEE;
}
.cajaM{
	width:100%;
	height: 40px;
	border-radius: 8px;
	border-style: none;
	margin:10px;
	text-align: left;
	background-color: #EEEEEE;
}
.btn{
	width:70%;
	height: 40px;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-family: arial;
	background-color: #3399FF;
	border-style: none;
	text-align: center;
	cursor: pointer;
	outline: none;
}
#txtNombre::placeholder{
  text-align: center;
  padding-top: 30px;
}
#txtApellidos::placeholder{
  text-align: center;
  padding-top: 30px;
}
#txtEmail::placeholder{
  text-align: center;
  padding-top: 30px;
}
#txtMensaje{
	height: 150px;
	resize: none;
	text-align: left;
}
#txtMensaje::placeholder{
  text-align: left;
  padding: 10px 0 0 10px;
}
.btnA{
	width:230px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-decoration: none;
  	outline: none;
  	float: left;
}
.left{
	display: flex;
  	float: right;
}

.i{
	width: 70%;
	color: gray;
	font-size: 17px;
	font-family: arial;
	line-height: 2.5em;
	text-align: left;
	margin: auto;
}
.centrando{
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#contForm{
	width: 100%;
	height: 350px;
	float: left;
	margin: auto;

}
#inf{
	width: 70%;
	height: 350px;
	margin:2% auto;
}
#logoC{
	width: 100%;
	padding-top: 10%;	
	float: left;

}
.imgL{
	padding-top: 25%;
	margin: auto;
	width: 90%;
}



/*marcas*/
.ctituloM{
  width: 100%;
  color: #3399FF;

}
.titM{
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;

}
#fila1{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fila2{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarj{
  width: 20%;
  height: 250px;
  float: left;
  margin: 1%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  }
.menu_link {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.img-clients {
	margin: auto;
	width: 300px;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}
.img-clients:hover {
	z-index: 999;
	transform: scale(1.1);
	 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);

}



/*susti Marcas*/

.Mcent{
	padding: 10% 0 0 10%;
}
.clear{width:100%;clear:both;}
 
.contenedor-img {
    width: 100%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    box-shadow: inset 2px 2px 5px #999;
}
    .contenedor-img .mascara,.contenedor-img .contenido {
        width: 100%;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;

    }
    .contenedor-img img {
        display: block;
        position: relative;
       
       
    }

    .contenedor-img p {    
        font-size: 12px;
        position: relative;
        color: #fff;
        padding: 10px 20px 10px;
        text-align: center;
        opacity: 0;
    }
    .bandaTexto{
    	margin-top: 5%;
	padding-left: 20px;
	padding-right: 70px;
	padding-bottom: 5px;
	padding-top:5px;
	border-top: 100px solid #3D84C3;
    border-right: 50px solid transparent;
	width: 100px;
}
	
	.acomodarTexto{
		margin-top:-65px;
		color: white;
		font-size: 20px;
	}

    .contenedor-img a.link {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #fff;
        opacity: 0;
    }
        .contenedor-img a.link:hover {
            box-shadow: 0 0 5px #000
        }

    .btnAD {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: rgba(0,0,0,0.5);
        color: black;
        text-transform: uppercase;
        box-shadow: 0 0 1px #fff;
        opacity: 0;
    }
/*Ejemplo 2*/
.ejemplo-2 img { 	
	transition: all 0.2s ease-in;
}
.ejemplo-2 .mascara { 
	background-color: rgba(61,132,195,0.9);
	width: 400px;
    padding: 60px;
	height: 500px;
	opacity: 1;
	transform: translate(300px, 200px) rotate(45deg);
	transition: all 0.5s ease-in-out;
}

.ejemplo-2 p { 
	transform: translate(-200px, 200px);
	transition: all 0.4s ease-in-out;
}
.ejemplo-2 a.link { 
    transform: translate(0px, 100px);
	transition: all 0.3s 0.1s ease-in-out;
} 

.ejemplo-2:hover .mascara { 
	opacity:1; 
	transform: translate(-96px, -150px) rotate(45deg);
}							  

.ejemplo-2:hover p { 
    transform: translate(0%,25%); 
	transition-delay: 0.4s;
	opacity: 1;
	font-size: 20px;
}
.ejemplo-2:hover a.link { 
    transform: translate(0%,50%); 
	transition-delay: 0.5s;
	opacity: 1;
}

/*MODAL*/
/* CSS Document */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(51,153,255,0.6);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 800px;
	height: 550px;
	position: relative;
	margin:1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #A0CAD1);
	background: -webkit-linear-gradient(#fff, #A0CAD1);
	background: -o-linear-gradient(#fff, #A0CAD1);
    -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #A0CAD1; }



/*efecto slider*/
.slider {
  margin: 10px auto;
  width: 95%;
  border-color: #3399FF;
  border-top-style: solid;
  border-style: solid solid none solid; 
  padding-top: 10px;
  box-shadow: 1px 1px 3px #000;
}
.popular-movies {
  overflow: hidden;
}
.popular-movies:hover {
}
.movie-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.movie-container:hover .image-effect {
  animation-play-state: paused;
}
.movie-container:hover .image-effect {
  animation-play-state: paused;
}
.image-effect {
  animation: movie-slider 10s infinite alternate linear;
  overflow: hidden;
}
.image-effect img {
  transition: all 300ms;
  -webkit-transition: all 300ms;
}
.image-effect:hover img {
  opacity: 0.5;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.movie-image:hover .movie-info {
  display: block;
}
.movie-image {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
@keyframes movie-slider {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
  0% {
    margin-right: -100%;
  }
  100% {
    margin-right: 10%;
  }
}


/*Cont Descargas*/
content-all{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-img{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
}

.content-img img{
    width: 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-1{
    width: 230%;
    height: 350%;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.5);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -750px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-2{
    width: 230%;
    height: 350%;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.5);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -800px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.content-3{
    width: 230%;
    height: 350%;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.5);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -800px;
    margin-top: -500px;
    -webkit-transition: all 900ms;
    transition: all 900ms;
    -webkit-box-shadow: 0px 1px 20px -5px black;
    box-shadow: 0px 1px 20px -5px black;
}

.content-4{
    width: 230%;
    height: 350%;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.5);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -850px;
    margin-top: -500px;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}

.content-img:hover .content-1{
    width: 280%;
    -webkit-transition: all 900ms;
    transition: all 900ms;
}

.content-img:hover .content-2{
    width: 280%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.content-img:hover .content-3{
    width: 280%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.content-img:hover .content-4{
    width: 280%;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}

.content-img:hover img{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0.8;
}

.content-txt{
    position: absolute;
    top: 0;
    width: 250px;
    padding: 2%;
    z-index: 10;
    color: white;
    margin-left: 5%;
    text-align: justify;
}

.content-txt h2{
    font-size: 15px;
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-align: center;
}

.content-txt p{
    font-size: 12px;
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}


.content-txt a{
    font-size: 12px;
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}


.content-img:hover h2{
    opacity: 1;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.content-img:hover p{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.content-img:hover a{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    transition: all 500ms;
    padding: 5px 5px 5px 5px;
    background-color: white;
    color: #3D84C3;
    margin-left: 34%;
}
.content-img:hover a:hover{
    background-color:#3D84C3 ;
    color:white ;
}