*{
  font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
body{
  margin: 0;
}
header{
 /* background: red;*/
  margin: 0;
}
footer{
	margin: 0;
	min-height: 100px;
}
section{
  margin: 0;
  min-height: 300px;
}
.container{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}
.menu_item{
	display: inline;
}

li,lo{list-style: none;}

a{
  color: white;
  text-decoration: none;
}
.menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	/*max-width:1000px;*/
	left: 0;
	width: 100%;
	background-color: rgba(60,147,218,1.00);
	text-align: center;
}

.mision-vision{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
 /* padding-top: 20px;
  padding-bottom: 20px;*/
}
.center {
	text-align: center;
}
.line {
	border-bottom: 1px solid rgba(0,0,0,1.00);
}
.ligth {
	color: rgba(255,255,255,1.00);
}
.dark {
}





@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
  section{
  }
header {
	height: 200px;
}

}
@media screen and (max-width:480px) {
@media screen and (max-width:320px) {

}

}
